<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static',filename='login-box.css')}}" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="side-menu"> Box 1</div>
            <div class="main-window" id="main-window">
                <div>For the logo</div>
                <div>For the rest of the feed</div>
            </div>
            <div class="side-box1" id="login-box">
                <button>Register</button>
                <p><small>or log in</small></p>
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Password">
                <button>Login</button>
            </div>
            <div class="side-box2"> Box 4</div>
            <div class="footer-box"> Box 5</div>
        </div>
    </body>
</html>